version: "3.9"

networks:
  app_net:

volumes:
  db_users_data:
  db_etl_data:
  minio_data:

services:
  frontend:
    build:
      context: ./frontend
    container_name: paaa_frontend
    ports:
      - "5173:5173"
    networks:
      - app_net

  backend:
    build:
      context: ./backend
    container_name: paaa_backend
    env_file:
      - ./backend/.env
    ports:
      - "8001:8000"
    depends_on:
      - database
      - database_etl
      - minio
    networks:
      - app_net
    volumes:
      - ./backend:/code

  # Agente (servicios de datos personalizados del proyecto)
  agente:
    build:
      context: ./agent
    container_name: paaa_agente
    networks:
      - app_net
    depends_on:
      - database
      - database_etl
      - minio

  # PostgreSQL para usuarios (auth, RBAC)
  database:
    image: postgres:15
    container_name: paaa_db_users
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: paadb_users
    ports:
      - "5432:5432"
    volumes:
      - db_users_data:/var/lib/postgresql/data
    networks:
      - app_net

  # PostgreSQL para datos procesados (ETL)
  database_etl:
    image: postgres:15
    container_name: paaa_db_etl
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: paadb_data
    ports:
      - "5433:5432"
    volumes:
      - db_etl_data:/var/lib/postgresql/data
    networks:
      - app_net

  pgadmin:
    image: dpage/pgadmin4
    container_name: paaa_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@paaa.local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - database
      - database_etl
    networks:
      - app_net

  # MinIO (S3 compatible)
  minio:
    image: minio/minio:RELEASE.2024-06-13T22-53-53Z
    container_name: paaa_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Console
    volumes:
      - minio_data:/data
    networks:
      - app_net
