.usuarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f9fa;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 2rem 0;
    box-sizing: border-box;
}

.page-title {
    color: #495057;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    min-height: 400px;
    padding: 0 2rem;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.user-card{
    width: 90%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .usuarios-container {
        padding: 1rem 0;
    }

    .user {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .page-title {
        font-size: 1.5rem;
    }
}