.usuario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f9fa;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding: 2rem 0;
    box-sizing: border-box;
}

.user-body{
    background-color: #f8f9fa;
    color: #667eea;
    border-radius: 18px;
    padding: 1rem; 
    width: 100vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.page-title {
    color: #495057;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}

.user-info{
    display:flex;
    grid-template-columns: 1fr 2fr;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
}

.user-card {
    width: 100%;
    box-sizing: border-box;
}

.usuario-header {
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.field-label {
  min-width: 80px;
}

.editable-input {
  flex: 1;
  max-width: 300px;
}

.field-value {
  font-weight: 500;
}


@media (max-width: 1024px) {
    .user-accordion {
        max-width: 90%;
    }
}


@media (max-width: 768px) {
    .usuario-container {
        padding: 1rem 0;
    }

    .user-accordion {
        max-width: 95%;
        height: calc(100vh - 5rem);
    }

    .user {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .page-title {
        font-size: 1.5rem;
    }
}